@{
    ViewData["Title"] = "Home Page";
}



<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-6 text-center" style="margin-top:150px">
            <h2> EMPRESTAi!?</h2><hr />
        </div>
        <div class="col-sm">

        </div>
    </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm">

            </div>
            <div class="col-6 text-center" style="margin-top:180px">
                <a asp-action="Create" asp-controller="Aluga" class="btn btn-prim btn-aluga">CADASTRAR ALUGUEL</a>
            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>
    

